
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body{
  padding: 0;
  margin: 0;
  margin-right: 10px;
  margin-top: 20px;
}

.leftInfo {
  flex: 1;
}

.rightInfo {
  flex: 2;
  margin-left: 10px;
  margin-right:40%;
}

h1 {
  font-family:arial;
  text-align: center;
  font-weight: 10;
}

textarea {
  height: 50px;
  width: 100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

a{
  text-decoration: underline;
  color: #383838;
}

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


.xButtonImg{
  position: absolute;
}

.floatingCenter{
  background-color: rgb(245, 245, 245);
  position: absolute;
  padding: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display:none;
  border-radius: 5px;
  box-shadow: 5px 10px 10px 5px rgba(0, 0, 0, 0.1);
  transition-duration: 100ms;
}

.floatingCenter:hover{
  transition-duration: 100ms;
  box-shadow: 5px 10px 10px 5px rgba(0, 0, 0, 0.4);
}


.island {
  background-color: rgb(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  border: 3px solid rgb(231, 231, 231);
  border-radius: 8px;
  padding: 1px 15px 1px 15px;
  margin-top: 20px;
  margin-left: 20px;
  position: absolute;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
}

.island:hover{
  border-radius: 15px;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.5);
}

.addHoursIsland {
  background-color: rgba(255, 255, 255, 0.25);
  transition: 0.3s;
  border: 2px solid rgb(231, 231, 231);
  border-radius: 8px;
  padding: 1px 5px 8px 5px;

  margin-left: 20px;
  margin-bottom: 10px;

  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(8px);
  max-width: 400px;
}


.addHoursIsland:hover{
  border-radius: 15px;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.5);
}

.showHoursIsland {
  background-color: rgba(255, 255, 255, 0.25);
  border: 2px solid rgb(231, 231, 231);
  border-radius: 8px;
  padding: 2px 8px 2px 8px;

  margin-top: 0px;
  margin-left: 15px;

  backdrop-filter: blur(8px);

  position: absolute;
}

.dateBox{
  vertical-align: top;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin: 2px 1px 2px 1px;
    display: inline-block;

    padding: 5px 5px 5px 5px;
    height: 150px; 
    width: 95%;
}

@media screen and (min-width: 1700px){
   .addHoursIsland { 
    position: absolute; 
  } 

  .showHoursIsland{
    max-width: 50%;
  } 
  .dateBox{
    width: 45%;
  }
}
@media screen and not (min-width: 1700px){
  .addHoursIsland { 
    margin-top: 20px;
  } 
  .dateBox{
    width: 45%;
  }
}

@media screen and not (min-width: 800px) {
  .dateBox{
    width: 95%;
  }
}

.input {
  border: 0px;
  background-color: rgb(228, 228, 228);
  padding: 5px 4px;
  margin-bottom: 5px;
  border-radius: 2px;
  font-size: 20px;
}

.addTimeInput{
  border: 0px;
  background-color: rgb(228, 228, 228);
  margin-bottom: 2px;
  font-size: 15px;
  display: inline-block;
  box-sizing: border-box;
}

.dateInfo{
  margin: 2px 2px 2px 2px;
  font-weight: 5;
  text-align: center;
}

.button {
  background-color: #ffffff;
  border: none;
  border-radius: 2px;
  color: rgb(0, 0, 0);
  padding: 2px 4px;
  text-align: center;
  font-size: 26px;
  margin: 4px 2px;
  }

.centered {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.middle {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0)
}

.bottom {
  position: fixed;
  bottom: 0;
  margin-bottom: 0;
}